.git
.github
.DS_Store
*.md
!docker-plan.md

# Backend
backend/bin
backend/pwsafe-service
backend/coverage.out
backend/testdata
backend/static

# Frontend
frontend/node_modules
frontend/dist
frontend/.DS_Store
